<div id="<%= dom_id(comment) %>" class="comment">
  <div class="comment-author">
    <% if comment.user %>
      <%= link_to comment.user.username, root_path %>
    <% elsif comment.name.present?  %>
      <%= link_to_if(comment.url.present?, comment.name, comment.url) do %>
        <span><%= comment.name %></span>
      <% end %>
    <% else %>
      <span><i>anónimo</i></span>
    <% end %>
    —
    <small>
      <%= link_to l(comment.created_at, format: :long), entry_slug_path(comment.entry.slug, anchor: dom_id(comment)) %>
    </small>

    <% if authenticated? %>
      —
      <small><%= button_to "Eliminar", comment_path(comment), method: :delete, form_class: "inline-block", data: { turbo_confirm: "¿Seguro que quieres eliminar este comentario?" } %></small>
    <% end %>
  </div>

  <div class="comment-content">
    <%= simple_format(comment.comment) %>
  </div>
</div>
