<%= form_with(model: [@entry, @new_comment]) do |form| %>
  <%= render "common/form_errors", model: @new_comment %>

  <% unless authenticated? %>
    <div>
      <%= form.label :name %><br />
      <%= form.text_field :name, class: "input" %>
    </div>
    <div>
      <%= form.label :email %><br />
      <%= form.text_field :email, class: "input" %>
    </div>
    <div>
      <%= form.label :url %><br />
      <%= form.text_field :url, class: "input" %>
    </div>
  <% end %>

  <div>
    <%= form.label :comment %><br />
    <%= form.text_area :comment, rows: 4, class: "input" %>
  </div>

  <%= form.submit %>
<% end %>
